Repository EEST-CSS/CSS-MAP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EEST-CSS/admin, @EEST-CSS/artdesign, @EEST-CSS/gamedesign, @EEST-CSS/orangemapper

.github/CODEOWNERS:

#CODEOWNERS OF ALL THE PROJECT
*       @EEST-CSS/admin

#CODEOWNERS OF SPECIFIC directory
/internal/textured/ @EEST-CSS/artdesign @EEST-CSS/admin
/internal/game_map/ @EEST-CSS/gamedesign @EEST-CSS/admin
/internal/orange_map/ @EEST-CSS/orangemapper @EEST-CSS/admin

Probando textos
  internal/game_map/test.txt
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Borrando prueba
  internal/game_map/test.txt
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

borrando prueba
  internal/game_map/test.txt
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

probando
  internal/textured/test.txt
Owners: @EEST-CSS/artdesign, @EEST-CSS/admin

Borrar prueba
  internal/textured/test.txt
Owners: @EEST-CSS/artdesign, @EEST-CSS/admin

README.md actualizado
  README.md
Owners: @EEST-CSS/admin

patio descubierto
  internal/orange_map/patio descubierto.vmf
  internal/orange_map/patio descubierto.vmx
Owners: @EEST-CSS/orangemapper, @EEST-CSS/admin

Creada carpeta para el patio descubierto
  internal/orange_map/patio_descubierto/info.md
Owners: @EEST-CSS/orangemapper, @EEST-CSS/admin

Movido internal/orange_map/patio descubierto.vmf a internal/orange_map/patio_descubierto/patio descubierto.vmf
  internal/orange_map/patio_descubierto/patio descubierto.vmf
Owners: @EEST-CSS/orangemapper, @EEST-CSS/admin

Movido internal/orange_map/patio descubierto.vmx a internal/orange_map/patio_descubierto/patio descubierto.vmx
  internal/orange_map/patio_descubierto/patio descubierto.vmx
Owners: @EEST-CSS/orangemapper, @EEST-CSS/admin

Escalera
  internal/orange_map/escalera.vmf
Owners: @EEST-CSS/orangemapper, @EEST-CSS/admin

Creada carpeta para el template de escaleras
  internal/orange_map/escalera_template/info.md
Owners: @EEST-CSS/orangemapper, @EEST-CSS/admin

Movido internal/orange_map/escalera.vmf a internal/orange_map/escalera_template/escalera.vmf
  internal/orange_map/escalera_template/escalera.vmf
Owners: @EEST-CSS/orangemapper, @EEST-CSS/admin

Creada carpeta para los pasillos
  internal/orange_map/pasillos/info.md
Owners: @EEST-CSS/orangemapper, @EEST-CSS/admin

Añadidos pasillos del primer piso
  internal/orange_map/pasillos/pasillos.vmf
  internal/orange_map/pasillos/pasillos.vmx
Owners: @EEST-CSS/orangemapper, @EEST-CSS/admin

Patio interior de la escuela tecnica numero 2
  internal/game_map/P.vmf
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

borrado internal/game_map/P.vmf
  internal/game_map/P.vmf
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Creada carpeta para el patio cubierto
  internal/orange_map/patio_cubierto/info.md
Owners: @EEST-CSS/orangemapper, @EEST-CSS/admin

patio cubierto orange map
  internal/orange_map/patio_cubierto/patio_cubierto.vmf
Owners: @EEST-CSS/orangemapper, @EEST-CSS/admin

Creada carpeta para el aula de electronica
  internal/orange_map/aula_electronica_pp/info.md
Owners: @EEST-CSS/orangemapper, @EEST-CSS/admin

aula electronica primer piso
  internal/orange_map/aula_electronica_pp/electronica aula.vmf
Owners: @EEST-CSS/orangemapper, @EEST-CSS/admin

Creada carpeta diseño y su info.md
  internal/game_map/diseño/info.md
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Creada carpeta jpg
  internal/game_map/diseño/jpg/info.md
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Creada carpeta "clean"
  internal/game_map/diseño/jpg/clean/info.md
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Imagenes de los planos
  internal/game_map/diseño/jpg/clean/1erolimpio.jpg
  internal/game_map/diseño/jpg/clean/2ndolimpio.pdn
  internal/game_map/diseño/jpg/clean/3erolimpio.jpg
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Borrado internal/game_map/diseño/jpg/clean/2ndolimpio.pdn
  internal/game_map/diseño/jpg/clean/2ndolimpio.pdn
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

segundo piso limpio
  internal/game_map/diseño/jpg/clean/2ndolimpio.jpg
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Creada carpeta design
  internal/game_map/diseño/jpg/design/info.md
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Diseño del primer piso
  internal/game_map/diseño/jpg/design/1erodiseño.jpg
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Creada carpeta para pdn
  internal/game_map/diseño/pdn/info.md
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Creada carpeta "clean"
  internal/game_map/diseño/pdn/clean/info.md
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Plano limpio en pdn
  internal/game_map/diseño/pdn/clean/1erolimpio.pdn
  internal/game_map/diseño/pdn/clean/2ndolimpio.pdn
  internal/game_map/diseño/pdn/clean/3erolimpio.pdn
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Creada carpeta design
  internal/game_map/diseño/pdn/design/info.md
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Diseño primer piso
  internal/game_map/diseño/pdn/design/1ero diseño.pdn
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Borrado internal/game_map/diseño/pdn/design/1ero diseño.pdn
  internal/game_map/diseño/pdn/design/1ero diseño.pdn
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Reemplazo del anterior
  internal/game_map/diseño/pdn/design/1erodiseño.pdn
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Borrado internal/game_map/diseño/jpg/design/1erodiseño.jpg
  internal/game_map/diseño/jpg/design/1erodiseño.jpg
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Reemplazo
  internal/game_map/diseño/jpg/design/1ero diseño.jpg
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Actualizada info.md de game_map/diseño
  internal/game_map/diseño/info.md
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin

Renombrado info.md a d_readme.md
  internal/game_map/diseño/d_readme.md
Owners: @EEST-CSS/gamedesign, @EEST-CSS/admin
